@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --accent-teal: #27f3c8;
  --accent-blue: #1ca4ff;

  --accent-teal-soft: rgba(39, 243, 200, 0.1);
  --accent-blue-soft: rgba(28, 164, 255, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
